/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/**
 * Center the page.
 *
 * If you want to make the page a fixed width and centered in the viewport,
 * this is the standards-compliant way to do that.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1006px;
}
#page {
	/*padding:0 24px 3em;*/
}
.region-bottom {
	width:976px;
}

body.not-front .content-main {
	padding-bottom:5em;
}
/* Research & Opinion page */
body.page-node-244 .content-main {
	padding-bottom:0;
}
/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
/*#content,*/
#main,
#navigation,
/*.region-sidebar-first,
.region-sidebar-second, */
#footer,
#breadcrumb-wrapper,
.region-main-banner
 {
  padding-left: 0;
  padding-right: 0;
  border-left: 0 !important;
  border-right: 0 !important;
  word-wrap: break-word;
  *behavior: url("/path/to/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
/*#main:before,*/
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* Navigation bar */
#main {
  /* Move all the children of #main down to make room. */
  position: relative;
}
#navigation {
  /* Move the navbar up inside #main's padding. */
  height: 50px;
}



/* @group Column Layout - Normal */

/**
 * The layout when there is only one sidebar, the left one.
 */

/* Span 3 columns, starting in 2nd column from left. */
body.sidebar-first #content {
  float: left;
  width: 727px;
  margin-left: 249px;
  margin-right: -976px;
}

/* Span 1 column, starting in 1st column from left. */
body.sidebar-first .region-sidebar-first {
  float: left;
  width: 229px;
  margin-left: 0px;
  margin-right: -229px;
}


/**
 * The layout when there is only one sidebar, the right one.
 */

/* Span 3 columns, starting in 1st column from left. */
body.sidebar-second #content {
  float: left;
  width: 656px;
  margin-left: 0px;
  margin-right: -727px;
}

/* Span 1 column, starting in 5th column from left. */
body.sidebar-second .region-sidebar-second {
  float: left;
  width: 229px;
  margin-left: 747px;
  margin-right: -976px;
}

/**
 * The layout when there are two sidebars.
 */

/* Span 3 columns, starting in 2nd column from left. */
body.two-sidebars #content,
body.node-type-connection-magazine-article #content,
body.node-type-synaptic-guides-article #content 
{
  float: left;
  width: 478px;
  margin-left: 249px;
  margin-right: -727px;
}

/* Span 1 column, starting in 1st column from left. */
body.two-sidebars .region-sidebar-first,
body.node-type-connection-magazine-article .region-sidebar-first,
body.node-type-synaptic-guides-article .region-sidebar-first
{
  float: left;
  width: 229px;
  margin-left: 0px;
  margin-right: -229px;
}

/* Span 1 column, starting in 5th column from left. */
body.two-sidebars .region-sidebar-second,
body.node-type-connection-magazine-article .region-sidebar-second,
body.node-type-synaptic-guides-article .region-sidbar-second
{
  float: left;
  width: 229px;
  margin-left: 747px;
  margin-right: -976px;
}

/* @end */

/* @group Column Layout - Home and Research & Opinion */

/**
 * The layout when there is only one sidebar, the left one.
 */

/* Span 3 columns, starting in 2nd column from left. */
body.front.sidebar-first #content, body.page-node-244.sidebar-first #content {
  float: left;
  width: 644px;
  margin-left: 332px;
  margin-right: -976px;
}

/* Span 1 column, starting in 1st column from left. */
body.front.sidebar-first .region-sidebar-first, body.page-node-244.sidebar-first .region-sidebar-first {
  float: left;
  width: 312px;
  margin-left: 0px;
  margin-right: -312px;
}


/**
 * The layout when there is only one sidebar, the right one.
 */

/* Span 3 columns, starting in 1st column from left. */
body.front.sidebar-second #content, body.page-node-244.sidebar-second #content {
  float: left;
  width: 644px;
  margin-left: 0px;
  margin-right: -644px;
}

/* Span 1 column, starting in 3th column from left. */
body.front.sidebar-second .region-sidebar-second, body.page-node-244.sidebar-second .region-sidebar-second {
  float: left;
  width: 312px;
  margin-left: 664px;
  margin-right: -976vpx;
}

/**
 * Forced 3 column layout at all times.
 */

/* Span 3 columns, starting in 2nd column from left. */
body.front.two-sidebars #content,
body.front.sidebar-first #content,
body.front.sidebar-second #content,
/* Research & Opinion page */
body.page-node-244.two-sidebars #content,
body.page-node-244.sidebar-first #content,
body.page-node-244.sidebar-second #content 
{
  float: left;
  width: 312px;
  margin-left: 332px;
  margin-right: -644px;
}

/* Span 1 column, starting in 1st column from left. */
body.front.two-sidebars .region-sidebar-first, 
body.front.sidebar-first .region-sidebar-first,
body.front.sidebar-second .region-sidebar-first,
/* Research & Opinion page */
body.page-node-244.two-sidebars .region-sidebar-first,
body.page-node-244.sidebar-first .region-sidebar-first,
body.page-node-244.sidebar-second .region-sidebar-first
{
  float: left;
  width: 312px;
  margin-left: 0px;
  margin-right: -312px;
}

/* Span 1 column, starting in 3th column from left. */
body.front.two-sidebars .region-sidebar-second, 
body.front.sidebar-first .region-sidebar-second,
body.front.sidebar-second .region-sidebar-second,
/* Research & Opinion page */
body.page-node-244.two-sidebars .region-sidebar-second,
body.page-node-244.sidebar-first .region-sidebar-second,
body.page-node-244.sidebar-second .region-sidebar-second
{
  float: left;
  width: 312px;
  margin-left: 664px;
  margin-right: -976px;
}

/* @end */