<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS 7 Disable hotlinking and directory listing. -->
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Hotlinking Prevention" stopProcessing="true">
<match url=".*\.(eot|ttf|woff|woff2)$" />
<conditions>
<add input="{HTTP_REFERER}" pattern="^https?://www\.synaptic\.co\.uk/.*$" negate="true" />
<add input="{HTTP_REFERER}" pattern="^$" />
</conditions>
<action type="AbortRequest" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>